@model DACS_WebClothes.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-bodi" style="border: 1px solid black; padding: 0 100px 0 100px" ;>
                <div class="category">
                    <p>XÓA LOẠI SẢN PHẨM</p>
                </div>
                <h3 style="margin-bottom: 10px">Bạn có chắc chắn muốn xóa loại sản phẩm này ?</h3>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="control-label" name="CategoryName">Tên loại sản phẩm: </label>
                        @Html.DisplayFor(model => model.CategoryName)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="control-label" for="Link">Link: </label>
                        @Html.DisplayFor(model => model.Link)
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="control-label" for="Hidden">Ẩn/Hiện: </label>
                        @Html.DisplayFor(model => model.Hidden)
                    </div>
                </div>
                <form action="~/Admin/AdminCategories/Delete" method="post">
                    <div class="col-md-12" style="margin-bottom: 50px">
                        <input type="hidden" name="Id" value="@Model.CategoryId" />
                        <input type="submit" value="Xóa" class="btn btn-create-new" />
                        <a class="btn btn-create-new text-center" href="~/Admin/AdminCategories/Index" style="margin-left: 10px" ;>Trở lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>