@model DACS_WebClothes.Models.Blog

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-bodi" style="border: 1px solid black; padding: 0 100px 0 100px";>
                <div class="category">
                    <p>TẠO BÀI VIẾT</p>
                </div>
                <form action="~/Admin/AdminBlogs/Create" enctype="multipart/form-data" method="post">
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label class="col-md-4 control-label">Tiêu đề: </label>
                            <input type="text" class="form-control"  asp-for="Title" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label class="col-md-4 control-label">Nội dung: </label>
                            <input type="text" asp-for="Content" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label class="col-md-4 control-label">Chi tiết: </label>
                            <input type="text" asp-for="Detail" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label class="col-md-4 control-label">Hình ảnh:</label>
                            <input type="file" asp-for="Image" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label class="col-md-4 control-label">Ngày đăng: </label>
                            <input asp-for="DateBegin" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-8">
                            <label class="col-md-4 control-label">Link: </label>
                            <input type="text" asp-for="Link"  class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="text-center">
                            <label class="control-label">Ẩn/Hiện: </label>
                            <input type="radio" class="form-control" asp-for="Hidden" value="0" checked name="Hidden"> Hiện</label>
                            <input type="radio" class="form-control" asp-for="Hidden" value="1" name="Hidden" style="margin-left: 20px" ;> Ẩn</label>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 50px">
                        <input class="btn btn-create-new" type="submit" value="Tạo" />
                        <a class="btn btn-create-new text-center" href="~/Admin/AdminBlogs/Index" style="margin-left: 10px" ;>Trở lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
